In [1]:
a=10

In [2]:
a='c'

In [3]:
type(a)

str

In [4]:
age=32
print("My age is",age)

My age is 32

In [5]:
#fstring. Wont be considered as string
print(f"my age is: {age}")

my age is: 32

In [6]:
Salary=145000

In [7]:
print(f"My sal is: {Salary}")

My sal is: 145000

In [8]:
##format()

name="Yoga"
age=39
print("My name is {} and age is {}".format(name,age))
print(f"My name is {name} and age is {age}")

My name is Yoga and age is 39
My name is Yoga and age is 39

In [9]:
# Placeholder
print("My name is {firstname} and age is {firstage}".format(firstname=name,firstage=age))

My name is Yoga and age is 39

In [10]:
name="Yogalakshmi"
age=39
degree="BE"

print(f"My age is {age} and I have completed :{degree} with the name of {name}")

My age is 39 and I have completed :BE with the name of Yogalakshmi

In [11]:
print ("My age is {} and I have completed :{} with the name of {}".format(age,degree,name))

My age is 39 and I have completed :BE with the name of Yogalakshmi

# Control Flow
# Decision Making Statements

In [12]:
age=21
if age>=18:
    print("You are allowed to vote")
else:
    print("You cannot vote")

You are allowed to vote

In [13]:
age=input("Enter the age")

Enter the age 24

In [14]:
age=int(input("Enter the age"))
if age>=18:
    print("You are allowed to vote")
else:
    print("You cannot vote")

Enter the age 22

You are allowed to vote

In [15]:
type(age)

int

In [16]:
age=int(input("Enter the age"))
if age>=18 and age<=45:
    print("You are young blood")
elif age<18:
    print("you are a kiddo")
else:
    print("You are old")

Enter the age 60

You are old

In [17]:
age=int(input("Enter the age"))
if age>=18 and age<=45:
    print("You are young blood")
else:
    print("Your application is rejected")

Enter the age 50

Your application is rejected

In [18]:
product=int(input("Enter the total amount:"))
disc1=product-(product*.2)
disc2=product-(product*.3)
if product>1000:
    print("You get a discount of 20% off and the discount total is {}".format(disc1))
else:
    print("You get a discount of 30% off and the discount total is {}".format(disc2))

Enter the total amount: 2000

You get a discount of 20% off and the discount total is 1600.0

In [19]:
product=int(input("Enter the total amount:"))
disc1=product-(product*.2)
disc2=product-(product*.3)
disc3=product-(product*.4)
if product>3000:
    print("You get a discount of 20% off and the discount total is {}".format(disc1))
elif product>=2000 and product<=3000:
    if product==2999:
        print("You get a discount of 30% off and u get and an additional gift/ The discount total is {}".format(disc2))
else:
    print("You get a discount of 40% off and the discount total is {}".format(disc3))

Enter the total amount: 3000

In [20]:
#Single statement
val=int(input('Enter a number'))
if val<=999:print("The value is less than 1000")
else: print("Go home")

Enter a number 200

The value is less than 1000

# Loops statements
1. while loop
2. for loop
3. Nested loops
4. Loop control
    - break
    - continue
    - pass

In [21]:
# while loop
joining_age=25
while(joining_age<=60):
    print(joining_age)
    joining_age=joining_age+1
else:
    print("its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
its time for retirement

In [22]:
amount=1000
while(amount>0):
    print(amount)
    amount=amount-100
else:
    print("No Cash in ATM")

1000
900
800
700
600
500
400
300
200
100
No Cash in ATM

# For Loop

In [23]:
lst=["Krish",1,2,3,4,"apple",'banana']

In [24]:
type(lst)

list

In [25]:
lst[0]

'Krish'

In [26]:
lst[4]

4

In [27]:
for i in lst:
    print(i)

Krish
1
2
3
4
apple
banana

In [28]:
fruits=['Mango','Cherry','Apple','Papaya','Banana']

In [29]:
# Prints in the same line
for i in fruits:
    print(i,end='')
    if i=='Cherry':
        print('Fruit is cherry')

MangoCherryFruit is cherry
ApplePapayaBanana

In [30]:
for i in fruits:
    print(i)
    if i=='Cherry':
        print('Fruit is cherry')

Mango
Cherry
Fruit is cherry
Apple
Papaya
Banana

In [31]:
fruit='Mango'
for i in fruit:
    print(i)

M
a
n
g
o

In [32]:
fruit[0]

'M'

In [33]:
fruit[1]

'a'

In [34]:
fruit[2]

'n'

In [35]:
fruit='Mango'
for i in fruit:
    print(i,end='')

Mango

In [36]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [37]:
for i in range(1,6,2):
    print(i)

1
3
5

In [38]:
for i in range(0,6,2):
    print(i)

0
2
4

In [39]:
##Nested loop
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end='')

****************************

In [40]:
##Nested loop
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end='')
    print('\r')

*
**
***
****
*****
******
*******

# Break statement

In [43]:
for i in fruits:
    if i=='Cherry':
        print('Fruit is cherry')
        break
    print(i)

Mango
Fruit is cherry

In [44]:
fruits

['Mango', 'Cherry', 'Apple', 'Papaya', 'Banana']

# Pass statement

In [45]:
for i in fruits:
    if i=='Cherry':
        print('Fruit is cherry')
        pass
    print(i)

Mango
Fruit is cherry
Cherry
Apple
Papaya
Banana

# Continue statement

In [46]:
for i in fruits:
    if i=='Cherry':
        print('Fruit is cherry')
        continue
    print(i)

Mango
Fruit is cherry
Apple
Papaya
Banana