In [1]:
ages=[23,43,23,56,74,32,68,98,45,32]

In [2]:
import numpy as np

In [5]:
mean=np.mean(ages)

In [6]:
mean

49.4

In [7]:
var=np.var(ages)
var

541.64

In [14]:
stddev=np.sqrt(var)

In [15]:
stddev

23.273160507331188

In [16]:
import pandas as pd

In [17]:
data=[[10,12,13],[34,23,45],[32,34,21]]

In [19]:
df=pd.DataFrame(data,columns=['A','B','C'])
df

    A   B   C
0  10  12  13
1  34  23  45
2  32  34  21

In [20]:
df.var()

A    177.333333
B    121.000000
C    277.333333
dtype: float64

In [22]:
df.var(axis=1)

0      2.333333
1    121.000000
2     49.000000
dtype: float64